*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #012704;
    color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2rem auto;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    aspect-ratio: 1/1;
    border: 2px solid white;
}

.form-select {
    width: 30%;
}


.start{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;
}

.d-none{
    display: none;
}

.safe-cells{
    background-color: #7FFFD4;
}

.unsafe-cells{
    background-color: red;
}